<html ng-app="statistikdatabasen">
  <head>
    <meta charset="UTF-8" />
    <title>Statistikdatabasen</title>
  </head>

  <link href="css/bootstrap.css" rel="stylesheet" >
  <link href="css/bootstrap-responsive.css" rel="stylesheet" />
  <link href="css/statistikdatabasen.css" rel="stylesheet" />

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class>
                <a href="./Statistikdatabasen.html">Home</a>
              </li>
            </ul>
          </div>
        </div>
      </div>      
    </div>

    <header>
      <div class="container">
        <h1>Statistikdatabasen</h1>
        <p class="lead">Displaying data from scb API</p>
      </div>
    </header>

    <div class="container" ng-controller="mainCtrl">
    
      <ul class="breadcrumb">
        <li><a href="#">Root</a></li>

        <li ng-repeat="level in levels" ng-class="{ active: $last }">
          <span class="divider" ng-show="level"> / </span>
          <a href="#{{level.link}}">{{level.text}}</a>
        </li>
      </ul>

      <ng-view></ng-view>

      <table class="table table-bordered table-hover">
        <tbody>
          <tr ng-repeat="subject in subjects">
            <td class="btn-link" ng-click="subjectClick(subject.id, subject.text)">
              {{subject.text}}</td>
          </tr>
        </tbody>
      </table>

    </div>    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="js/underscore-min.js"></script>
    <script src="js/module.breadcrumbs.js"></script>
    <script src="js/statistikdatabasen.js"></script>
  </body>
</html>